@import url('https://fonts.googleapis.com/css?family=Farro|Raleway&display=swap');
* {box-sizing: border-box;}
h1 {
  font-family: 'Farro', sans-serif;
}
h2, h3, h4, h5, h6, p, i, .navBarFont {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.appDiv {
  margin: 0;
  padding: 0;
}
footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}
footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.me {
  max-height: 6vmin;
  width: auto;
  margin-right: 10px;
  border-radius: 50%;
}